.App {
  position:relative; /* Add this line */
  height: 100%;
  width: 100%;
  background-image: url('./bg2.jpg');  /* Adjust the path based on your folder structure */
  background-size: cover;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
  position: relative;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  
  position: relative;
  height: 1vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}


.InfoBox {
  background-color: #000000;
  height: 80vh;
  width: 55vh;
  position: relative; /* Add this line */
  margin-top: 10%;
  margin-bottom: 10%;
  margin-left: 5%;
  margin-right: 5%;
  z-index: 0; /* Add this line */
  opacity: 92%;
  padding: 10;
}


.VisualBox {
  background-color: #000000;
  height: 80vh;
  width: 10vh;
  margin-top: 10vh;
  position: relative; /* Add this line */
  bottom: 10vh;
  top: -27vh; /* Add this line */
  left: 62vh; /* Add this line */
  right: 10vh; /* Add this line */
  z-index: 0; /* Add this line */
  opacity: 92%;
}

.LogoBox {
  background-color: #ffffff;
  height: 21%;
  width: 32%;
  border-radius: 50%;
  position: relative; /* Add this line */
  top: -4%; /* Add this line */
  left: 33%; /* Add this line */
  right: 0; /* Add this line */
  z-index: 1; /* Add this line */
  opacity: 92%;

}



.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
