.App {
  display: flex;
  /* background-image: url('./bg2.jpg');
  background-size: cover;
  height: 100%;
  width: 100%; */

}

.AppGrid {
  background-color: transparent;
  /* padding: 50px 50px 50px 50px; */
  margin: 50px;
  margin-bottom: 50px;
  width: 100%;
  height:100%;
}

.AppGrid-child {
  background-color: #000000;
  opacity: 92%;
  height: 100%;
  width: 100%;
}


/* .App-logo {
  height: 40vmin;
  pointer-events: none;
  position: relative;
} */

/* @media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
} */

/* .App-header {
  position: relative;
  height: 1%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
} */




/* .VisualBox {
  background-color: #000000;
  height: 100%;
  width: 100%;
  margin-top: 10vh;
  position: relative; 
  bottom: 10vh;
  top: -27vh; 
  left: 62vh; 
  right: 10vh; 
  z-index: 0; 
  opacity: 92%;
} */

/* .LogoBox {
  background-color: #000000;
  height: 21%;
  width: 32%;
  border-radius: 50%;
  position: relative; 
  top: -4%; 
  left: 33%; 
  right: 0;
  z-index: 1; 
  opacity: 92%;

} */



/* .App-link {
  color: #61dafb;
} */

/* @keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */
