.container{

    display: flex;
    flex-direction: column;
    margin-top:  6%;
    /* margin-bottom: 3%; */
    margin-left: 4%;
    background: rgba(0, 0, 0, 0.855);
    padding-bottom: 0.5%;
    width: 30%;
    height: 5%;


}


.header{

    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 9px;
    width: 100%;
    margin-top: 30px;
}

.text{

    color: #fff4e9;
    font-family: rubik;
    font-size: 48px;
    font-weight: 700;
}

.underline{

    width: 61px;
    height: 6px;
    background: #ff45f6;
    border-radius: 9px;

}

.inputs{

    margin-top: 55px;
    display: flex;
    flex-direction: column;
    gap: 25px;
}

.input{

    display: flex;
    align-items: center;
    margin: auto;
    width: 300px;
    height: 54px;
    background: rgb(0, 0, 0);
    border-radius: 6px;
}

.input img{

    margin: 0px 30px;

}


.input input{

    height: 50px;
    width: 220px;
    background: transparent;
    border: none;
    outline: none;
    color: #fff4e9;
    font-family: rubik;
    font-size: 15px;

}


.forgot-password{

    padding-left: 80px;
    margin-top: 27px;
    color: #797979;
    font-size: 18px;

}

.forgot-password span{

    color: #ff45f6;
    cursor: pointer;

}


.submit-container{

    display: flex;
    gap: 30px;
    margin: 60px auto;

}

.submit{

    display: flex;
    justify-content: center;
    align-items: center;
    width: 120px;
    height: 50px;
    color: #fff;
    background: #ff45f6;
    border-radius: 5px;
    font-family: rubik;
    font-size: 15px;
    font-weight: 700;
    cursor: pointer;
}


.gray{

    background: #eaeaea;
    color: #676767;

}